#home-body {
    min-height: 100vh;
    background-color: #0F2027;
}

#nav-wrapper {
    background-color: #18282F;

    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

#logout-button-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    /* margin-right: 20px; */
}

button.logout-button {
    border-color: white;
    color: white;
} 

#nav-heading {
    padding: 10px;
    margin: 0;
    color: white;
}


#home-main {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
    
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  
}

#vm-create {
    text-align: center;
    color: rgb(208, 208, 208);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#plus-symbol {
    font-size: 50px;
    margin: 0;

}

#create-text {
    font-size: 17px;
    margin: 0;
    margin-bottom: 20px;
}