#home-body {
    min-height: 100vh;
    background-color: #0F2027;
}

#nav-wrapper {
    background-color: #18282F;

    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

#refresh-button-main {
    margin-right: 20px;
}

#logout-button-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    /* margin-right: 20px; */
}

button.logout-button {
    border-color: white;
    color: white;
} 

#nav-heading {
    padding: 10px;
    margin: 0;
    color: white;
}

#home-main {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
  
}

#home-grid {
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    /* column-gap: 20px; */
}

#vm-create {
    text-align: center;
    color: rgb(208, 208, 208);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* #create-button-container {
    padding:0;
} */

/* button.create-button {
    width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 10px;
    color: rgb(208, 208, 208);
} */

#plus-symbol {
    font-size: 50px;
    margin: 0;

}

#create-text {
    font-size: 17px;
    margin: 0;
    margin-bottom: 20px;
}


#modal-body {
    background-color: rgb(23, 39, 45);
    width: 500px;
    border-radius: 10px;
    min-height: 200px;
    outline: none;

    margin: auto;
    margin-top: 250px;
}

#modal-content {
    color: rgb(208, 208, 208);
    padding: 20px;
}

#modal-content > h2 {
    margin: 0;
}

#vm-name {
    color: rgb(208, 208, 208);
}

#modal-content > div > label {
    color: rgb(208, 208, 208);
}

#modal-content > div > div:after {
    border-bottom: 2px solid rgb(208, 208, 208);
}

#tier-dropdown {
    margin-top: 15px;
    margin-bottom: 25px;
}

button.tier-button {
    /* width: 150px; */
    color: rgb(208, 208, 208);
    background-color: rgba(0, 0, 0, 0.09);
    padding: 15px;
} 

/* #tier-menu > div > ul {
    width: 120px;
} */

#tier-description {
    padding: 10px;
    background-color: #0F2027;
    border-radius: 10px;
    margin-top: 20px;
}

#modal-footer {
    margin-bottom: 15px;
}

button.create-vm-button {
    width: 100%;
    color: rgb(208, 208, 208);
    background-color: rgb(15, 196, 178);
    border: none;
}
button.create-vm-button:hover {
    background-color: rgb(15, 196, 178);
}

button.create-vm-button:disabled {
    background-color: rgba(15, 196, 178, 0.16);
    color: rgba(208, 208, 208, 0.317);

}