#login-body {
    width: 100vw;
    min-height: 100vh;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-panel {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    width: 30vw;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

button.login-button {
    margin-top: 15px;
    border-color: white;
    color: white;
}
