#login-body {
    width: 100vw;
    min-height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-panel > h2 > span {
    color: red;
}

#login-panel {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 30vw;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

button.login-button {
    margin-top: 15px;
    margin-bottom: 10px;
    border-color: white;
    color: white;
}

#filled-username {
    color: white;
}

#filled-password {
    color: white;
}

/* label.input-label {
    color: white;
} */

#login-panel > form > div:nth-child(1) > label {
    color: white;
}

#login-panel > form > div:nth-child(2) > label {
    color: white;
}

#login-panel > form > div:nth-child(1) > div:after {
    border-bottom: 2px solid white;

}

#login-panel > form > div:nth-child(2) > div:after {
    border-bottom: 2px solid white;

}
