.vm-body {
    width: 80%;
    background-color: rgb(23, 39, 45);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 25px;
    color: rgb(150, 150, 150);
}

.vm-body > h2 {
    color: rgb(208, 208, 208);
}

.vm-title {
    margin-top: 0;
    margin-bottom: 0;
}

.vm-title > span {
    font-weight: lighter;
    font-size: 20px;
}

.usage-group {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.usage-group > p {
    margin: 0;
}

.refresh-button, .details-button {
    background-color: transparent;
    border: none;
    color: rgb(208, 208, 208);
    /* height: 15px; */
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.details-button {
    display: inline-block;
    padding: 0;

}

#vm-upgrade-group {
    margin-bottom: 15px;
}

.vm-button-group {
    display: flex;
    justify-content: space-between;
}

button.vm-button {
    width: 48%;
    color: white;
    border: none;
}

button.vm-button.upgrade-button {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(208, 208, 208);
}

button.vm-button.upgrade-button:disabled {
    background-color: rgba(0, 0, 0, 0.071);
    color: rgba(80, 80, 80, 0.564);
}

button.vm-button.start-button {
    background-color: rgb(15, 196, 178);
}

button.vm-button.delete-button {
    background-color: rgb(182, 11, 11);
}

button.vm-button.delete-button:disabled {
    background-color: rgba(182, 11, 11, 0.379);
    color: rgba(80, 80, 80, 0.564);
}

#details-modal-body {
    background-color: rgb(23, 39, 45);
    width: 500px;
    border-radius: 10px;
    min-height: 200px;
    outline: none;

    margin: auto;
    margin-top: 250px;
}

#details-modal-content {
    color: rgb(208, 208, 208);
    padding: 20px;
}

#details-modal-content > h2 {
    margin: 0;
}

#vm-description {
    padding: 10px;
    background-color: #0F2027;
    border-radius: 10px;
    margin-top: 20px;
}

hr {
    height: 1px;
    border: none;
    background-color: rgb(171, 171, 171);
}

#details-modal-content > h2 > span {
    font-weight: lighter;
    font-size: 20px;

}